# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Django
*.log
*.pot
*.pyc
db.sqlite3
/media/
/static/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.temp